# -----------------------------------------------------------------------------
# Dependencies
# -----------------------------------------------------------------------------
node_modules
.pnp
.pnp.js

# -----------------------------------------------------------------------------
# Testing
# -----------------------------------------------------------------------------
coverage/

# -----------------------------------------------------------------------------
# Next.js
# -----------------------------------------------------------------------------
.next/
out/

# -----------------------------------------------------------------------------
# Production builds
# -----------------------------------------------------------------------------
build/

# -----------------------------------------------------------------------------
# MacOS cruft
# -----------------------------------------------------------------------------
.DS_Store
.AppleDouble
.LSOverride
Icon?
__MACOSX/

# -----------------------------------------------------------------------------
# Certificates / keys
# -----------------------------------------------------------------------------
*.pem

# -----------------------------------------------------------------------------
# Debug / logs
# -----------------------------------------------------------------------------
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# -----------------------------------------------------------------------------
# Environment variables
# -----------------------------------------------------------------------------
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# -----------------------------------------------------------------------------
# Vercel
# -----------------------------------------------------------------------------
.vercel/

# -----------------------------------------------------------------------------
# TypeScript
# -----------------------------------------------------------------------------
*.tsbuildinfo
next-env.d.ts

# -----------------------------------------------------------------------------
# IDE / Editor
# -----------------------------------------------------------------------------
.vscode/
.idea/

# -----------------------------------------------------------------------------
# Contentlayer cache
# -----------------------------------------------------------------------------
.contentlayer/
.vercel
